@font-face {
  font-family: "Euclid Circular B Bold";
  src: url("/src/assets/fonts/EuclidCircularB/Euclid-Circular-B-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B Light";
  src: url("/src/assets/fonts/EuclidCircularB/Euclid-Circular-B-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B Medium";
  src: url("/src/assets/fonts/EuclidCircularB/Euclid-Circular-B-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Euclid Circular B Regular";
  src: url("/src/assets/fonts/EuclidCircularB/Euclid-Circular-B-Medium.ttf") format("truetype");
}