@import '../../../assets/styles/abstracts/index';

.add-device-form {
  &--group {
    margin-bottom: rem(30);
    color: $txt-gray;
    font-size: rem(12);

    p {
      margin:0 rem(6) rem(6) rem(6);


    }
  }

  &--checkbox {
    display: flex;
    gap: rem(12);
    align-items: baseline;
  }

  &--footer {
    display: flex;
    justify-content: flex-end;
    gap: rem(12);
  }


  &--button {
    height: rem(40);
    width: rem(140);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(14);

    &_left {
      border: 1px solid $blueButtonColor;
      color: $blueButtonColor;
    }

    &_right {
      background: $blueButtonColor;
      color: $white;
    }
  }
}