@import "../../../../assets/styles/abstracts/index";

.storage-searchbar {
  padding: 0 rem(40);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(22);

  &--wrapper{
    display: flex;
    gap: rem(20);


    &_search {
      width: rem(761);
      height: rem(39);
    }

    &_button {
      background-color: $blue-button-color;
      height: rem(39);
      padding: rem(10) rem(16);
      display: flex;
      align-items: center;
      justify-content: center;

      &_content{
        display: flex;
        align-items: center;
        gap: rem(6);

        p{
          color: $white;
        }
      }
    }
  }


}