.container {
  max-width: 80rem;
  margin: 0 auto;
}

.producer {
  margin-top: 4.75rem;
}
@media only screen and (min-width: 824px) {
  .producer {
    padding-top: 6%;
  }
}
.producer__img-box {
  width: 18.375rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
  border-radius: 0 6rem 0 6rem;
}
@media only screen and (max-width: 824px) {
  .producer__img-box {
    position: relative;
    width: 100%;
    height: 12.5rem;
    margin-bottom: 0.875rem;
    border-radius: 0;
  }
}
.producer__img-box__img {
  width: 100%;
  cursor: pointer;
  height: 14.1875rem;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 824px) {
  .producer__img-box__img {
    width: 100%;
    height: 100%;
  }
}
.producer__img-box__img:hover {
  transform: scale(1.1);
}
.producer__icons {
  display: flex;
  gap: 1.25rem;
}
@media only screen and (max-width: 824px) {
  .producer__icons {
    position: absolute;
    top: 0.625rem;
    right: 2.5rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.9375rem;
  }
}
.producer__icons__box {
  cursor: pointer;
  font-size: 1.12rem;
}
@media only screen and (max-width: 824px) {
  .producer__icons__box {
    background-color: #fff;
    border-radius: 50%;
    padding: 0.5625rem;
    font-size: 1rem;
  }
}
.producer__icons__box__share-icon {
  color: black;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 824px) {
  .producer__icons__box__share-icon {
    color: #4b7d30;
  }
}
.producer__icons__box__share-icon:hover {
  color: #4b7d30;
}
.producer__icons__box__heart-icon {
  color: #4b7d30;
}
.producer__user__name {
  font-size: 1.625rem;
  font-weight: bold;
  padding: 0 0.625rem 1.125rem;
}
.producer__user__info {
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 0.625rem;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}
.producer__user__info__left {
  color: #1d1d1d;
}
.producer__user__info__left__box {
  margin-bottom: 0.788rem;
}
.producer__user__info__left__box__label {
  font-size: 0.75rem;
}
.producer__user__info__left__box__label-margin {
  margin-bottom: 0.5125rem;
}
.producer__user__info__left__box__value {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.producer__user__info__left__box__value__link {
  font-weight: bold;
  color: #1d1d1d;
  text-decoration: underline;
}
.producer__user__info__left__box__value__icon {
  margin-left: 1.25rem;
  cursor: pointer;
}
@media only screen and (max-width: 320px) {
  .producer__user__info__left__box__value__icon {
    margin-left: 0.625rem;
  }
}
.producer__user__info__right__box {
  margin-bottom: 0.688rem;
}
.producer__user__info__right__box__label {
  font-size: 0.75rem;
  color: #1d1d1d;
  margin-bottom: 0.5125rem;
}
.producer__user__info__right__box__value, .producer__user__info__right__box__value-status {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.producer__user__info__rating {
  display: flex;
  align-items: baseline;
  gap: 1.25rem;
}
@media only screen and (max-width: 600px) {
  .producer__user__info__rating {
    flex-direction: column;
    gap: 0.4375rem;
  }
}
.producer__user__info__rating__box {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}
.producer__user__info__rating__box__rate-icon {
  font-size: 1.125rem;
}
@media only screen and (max-width: 376px) {
  .producer__user__info__rating__box__rate-icon {
    font-size: 0.92rem;
  }
}
@media only screen and (max-width: 600px) {
  .producer__user__info__rating__box__down-icon {
    font-size: 0.8125rem;
  }
}
.producer__user__info__rating__rating-text {
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.9375rem;
}
.producer__user__location {
  color: #1d1d1d;
  padding: 1.25rem 0.625rem 0;
}
.producer__user__location__sentence {
  padding-bottom: 0.9375rem;
}
@media only screen and (min-width: 600px) {
  .producer__user__location__sentence {
    display: none;
  }
}
.producer__user__location__box {
  background-color: #fff;
  padding: 0.9375rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 0.1875rem 0.375rem rgba(0, 0, 0, 0.0705882353);
  border-radius: 0.625rem;
  border-color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .producer__user__location__box {
    padding: 0.625rem;
  }
}
@media only screen and (max-width: 600px) {
  .producer__user__location__box__big-device {
    display: none;
  }
}
.producer__user__location__box__small-device {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 600px) {
  .producer__user__location__box__small-device {
    display: none;
  }
}
.producer__user__location__box__small-device__search-icon {
  width: 1.3125rem;
}
.producer__user__location__box__label {
  font-size: 0.75rem;
  margin-bottom: 0.3125rem;
}
.producer__user__location__box__value-with-underline {
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
}
.producer__user__location__box__value {
  font-size: 0.875rem;
  font-weight: bold;
}
.producer__user__location__box:hover {
  background: #e4ece1;
}
.producer__user__status {
  padding-top: 5.625%;
  color: #1d1d1d;
}
@media only screen and (max-width: 600px) {
  .producer__user__status {
    font-weight: bold;
  }
}
.producer__user__status__info {
  display: flex;
  padding: 0.93rem 0;
  gap: 2.5rem;
  border-bottom: 0.125rem solid #cbcbcb;
}
.producer__user__status__info__label {
  font-size: 0.875rem;
  text-transform: capitalize;
  cursor: pointer;
  opacity: 0.7;
  position: relative;
  transition: color 0.3s ease;
}
.producer__user__status__info__label.active {
  color: #e2711d;
}
.producer__user__status__info__moving-underline {
  position: absolute;
  bottom: 0px;
  height: 0.125rem;
  background-color: #e2711d;
  transition: all 0.3s ease;
}
.producer__user__status__description {
  margin: 1.875rem 0.6875rem 0 0.6875rem;
  font-weight: normal;
}
.producer__user__status__missing-description {
  margin: 1.875rem 0.6875rem 0 0.6875rem;
  font-weight: bold;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #555555;
}

.scrollable-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scrollbar-width: none;
  flex-grow: 1;
}

.scrollable-tabs::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=producerDetails.component.css.map */