@import '../../assets/styles/abstracts/index';

.add-device {
  position: relative;
  background-image: url('../../assets/images/statics/background.png');
  background-size: 100% 100%;
  width: 100%;

  padding: rem(50) 0 rem(69) 0;

  &--card {
    width: rem(888);
    margin: 0 auto;
    box-shadow: $box-shadow-card-main !important;

    &__content {
      padding: rem(26) rem(46) rem(16) rem(46);
      display: flex;
      flex-direction: column;
      gap: rem(50);

      &__form{
        display: flex;

      }
    }
  }
}