.container {
  max-width: 80rem;
  margin: 0 auto;
}

.producer {
  margin-top: 4.75rem;
  @media only screen and (min-width: 824px) {
    padding-top: 6%;
  }
  @media only screen and (max-width: 600px) {
    // background-color: #fff ;
  }
  &__img-box {
    width: 18.375rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
    border-radius: 0 6rem 0 6rem;
    @media only screen and (max-width: 824px) {
      position: relative;
      width: 100%;
      height: 12.5rem;
      margin-bottom: 0.875rem;
      border-radius: 0;
    }
    &__img {
      width: 100%;
      cursor: pointer;
      height: 14.1875rem;
      object-fit: cover;
      transition: 0.3s ease-in-out;
      @media only screen and (max-width: 824px) {
        width: 100%;
        height: 100%;
      }
    }
    &__img:hover {
      transform: scale(1.1);
    }
  }
  &__icons {
    display: flex;
    gap: 1.25rem;
    @media only screen and (max-width: 824px) {
      position: absolute;
      top: 0.625rem;
      right: 2.5rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 0.9375rem;
    }
    &__box {
      cursor: pointer;
      font-size: 1.12rem;
      @media only screen and (max-width: 824px) {
        background-color: #fff;
        border-radius: 50%;
        padding: 0.5625rem;
        font-size: 1rem;
      }
      &__share-icon {
        color: black;
        transition: 0.3s ease-in-out;
        @media only screen and (max-width: 824px) {
          color: #4b7d30;
        }
      }
      &__share-icon:hover {
        color: #4b7d30;
      }
      &__heart-icon {
        color: #4b7d30;
      }
    }
  }
  &__user {
    &__name {
      font-size: 1.625rem;
      font-weight: bold;
      padding: 0 0.625rem 1.125rem;
    }
    &__info {
      display: flex;
      justify-content: space-between;
      padding: 1.125rem 0.625rem;
      border-bottom: 1px solid #e2e2e2;
      border-top: 1px solid #e2e2e2;
      &__left {
        color: #1d1d1d;
        &__box {
          margin-bottom: 0.788rem;
          &__label {
            font-size: 0.75rem;
          }
          &__label-margin {
            margin-bottom: 0.5125rem;
          }
          &__value {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &__link {
              font-weight: bold;
              color: #1d1d1d;
              text-decoration: underline;
            }
            &__icon {
              margin-left: 1.25rem;
              cursor: pointer;
              @media only screen and (max-width: 320px) {
                margin-left: 0.625rem;
              }
            }
          }
        }
      }
      &__right {
        &__box {
          margin-bottom: 0.688rem;
          &__label {
            font-size: 0.75rem;
            color: #1d1d1d;
            margin-bottom: 0.5125rem;
          }
          &__value,
          &__value-status {
            font-size: 0.875rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
        }
      }
      &__rating {
        display: flex;
        align-items: baseline;
        gap: 1.25rem;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          gap: 0.4375rem;
        }
        &__box {
          display: flex;
          gap: 0.3125rem;
          align-items: center;
          &__rate-icon {
            font-size: 1.125rem;
            @media only screen and (max-width: 376px) {
              font-size: 0.92rem;
            }
          }
          &__down-icon {
            @media only screen and (max-width: 600px) {
              font-size: 0.8125rem;
            }
          }
        }
        &__rating-text {
          font-size: 0.875rem;
          font-weight: bold;
          text-decoration: underline;
          margin-bottom: 0.9375rem;
        }
      }
    }
    &__location {
      color: #1d1d1d;
      padding: 1.25rem 0.625rem 0;
      &__sentence {
        padding-bottom: 0.9375rem;
        @media only screen and (min-width: 600px) {
          display: none;
        }
      }
      &__box {
        background-color: #fff;
        padding: 0.9375rem;
        margin-bottom: 0.5rem;
        box-shadow: 0px 0.1875rem 0.375rem #00000012;
        border-radius: 0.625rem;
        border-color: #fff;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        @media only screen and (max-width: 600px) {
          padding: 0.625rem;
        }
        &__big-device {
          @media only screen and (max-width: 600px) {
            display: none;
          }
        }
        &__small-device {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media only screen and (min-width: 600px) {
            display: none;
          }
          &__search-icon {
            width: 1.3125rem;
          }
        }
        &__label {
          font-size: 0.75rem;
          margin-bottom: 0.3125rem;
        }
        &__value-with-underline {
          font-size: 0.875rem;
          font-weight: bold;
          text-decoration: underline;
        }
        &__value {
          font-size: 0.875rem;
          font-weight: bold;
        }
      }
      &__box:hover {
        background: #e4ece1;
      }
    }
    &__status {
      padding-top: 5.625%;
      color: #1d1d1d;
      @media only screen and (max-width: 600px) {
        font-weight: bold;
      }
      &__info {
        display: flex;
        padding: 0.93rem 0;
        gap: 2.5rem;
        border-bottom: 0.125rem solid #cbcbcb;

        &__label {
          font-size: 0.875rem;
          text-transform: capitalize;
          cursor: pointer;
          opacity: 0.7;
          position: relative;
          transition: color 0.3s ease;
        }
        &__label.active {
          color: #e2711d;
        }
        &__moving-underline {
          position: absolute;
          bottom: 0px;
          height: 0.125rem;
          background-color: #e2711d;
          transition: all 0.3s ease;
        }
      }
      &__description {
        margin: 1.875rem 0.6875rem 0 0.6875rem;
        font-weight: normal;
      }
      &__missing-description {
        margin: 1.875rem 0.6875rem 0 0.6875rem;
        font-weight: bold;
      }
    }
  }
}
.tabs-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.arrow-btn {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: #555555;
}

.scrollable-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  scrollbar-width: none;
  flex-grow: 1;
}

.scrollable-tabs::-webkit-scrollbar {
  display: none;
}
